@charset "utf-8";
/* CSS Document */

html, body, #appContainer, #pageContainer{
	height:100%;
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color:#CCC;
}

.page{
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

#home{
	background-color:tan}
#scoreboard{
	background-color:blue;
}

h1{
	text-align:center;
}
h1#title{
	font-size:48px;
	margin-top:5%;
}


div#playerSelect{
	position:absolute;
	margin-left:20%;
	bottom:30%;
	width:60%;
	height:auto;
	background-color:grey;
}
div#minus{
	position:absolute;
	height:100%;
	width:50%;
	top:0px;
}
div#plus{
	position:absolute;
	right:0px;
	height:100%;
	width:50%;
	top:0px;
}
div#startGame{
	position:absolute;
	margin-left:20%;
	bottom:0px;
	width:60%;
	height:auto;
	background-color:limegreen;
	opacity:0;
}

table, th{
    border: 1px solid black;
}
