@charset "utf-8";
/* CSS Document */

html, body, #appContainer, #pageContainer{
	height:100%;
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color:#CCC;
}

.page{
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

#home{
	background-color:red;
}
#choose{
	background-color:blue;
}
#players{
	background-color:green;
}
#color{
	background-color:purple;
}
#scoreboard{
	background-color:orange;
}

table{
	position:absolute;
	width:80%;
	margin-left:10%;
	bottom:10%;
}

td{
	border-style:inset;
	border-right:medium single #666;
	border-radius: 5px;
	margin:20px;
	cellspacing:20px;
	
}
h1, h2{
	text-align:center;
}
h1{
	margin-top:20%;
}
table{
	height:50%;
}
table td{
	height:20%;
}
